@import 'tailwindcss';
@import '@nuxt/ui';
@source '../../../layers/**/*';

:root {
  --ui-container: 600px;
  --font-sans: 'Roboto', sans-serif;
  --ui-primary: #084b82;
  --ui-secondary: #f78e1e;
  --ui-radius: 0.15rem;
}

.link {
  @apply text-secondary border-secondary/30 hover:text-secondary/70 hover:border-secondary/15 border-b transition-colors;
}

.custom-link span {
  @apply text-secondary border-secondary/30 group-hover:text-secondary/70 group-hover:border-b-secondary/15 border-b transition-colors;
}

button:not(:disabled),
select,
option,
label {
  cursor: pointer !important;
}
