@import 'tailwindcss';
@import '@nuxt/ui';
@source '../../../layers/**/*';

@theme {
  --font-sans: 'Roboto';
}

:root {
  --ui-container: 600px;
  --ui-primary: #084b82;
  --ui-secondary: #f78e1e;
  --ui-radius: 0.15rem;
}

.dark {
  --ui-primary: var(--ui-bg-inverted);
}

.link {
  @apply text-secondary border-secondary/30 hover:text-secondary/70 hover:border-secondary/15 border-b transition-colors;
}

.custom-link span {
  @apply text-secondary border-secondary/30 group-hover:text-secondary/70 group-hover:border-b-secondary/15 border-b transition-colors;
}

button:not(:disabled),
select,
option,
label {
  cursor: pointer !important;
}

/* Preloader */
html::before {
  content: '';
  display: inline-block;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 36px;
  height: 36px;
  background-image: url('~/assets/images/loading.gif');
  background-size: cover;
  background-repeat: no-repeat;
}

body {
  opacity: 0;
}

.fonts-loaded body {
  opacity: 1;
}

.fonts-loaded::before {
  display: none;
}
